.nnn{
    background-color:#ffcdd2 ;
    display: flex;
    justify-content: center;
    
}
.nnnn{
    background-color:#ffcdd2 ;
}
.b111{
    display: flex;
    justify-content: end;
    margin-right: 70px;
    margin-top: -75px;
}
.hooo{
    padding: 100px;
}
.Buuu{
   text-align: center;
}
.ca2{
    background-color:#ffcdd2 ; 
    display: flex;
}