.nav justify-content-center{
   
   
   
    background-color: red;
    
    justify-content:space-between;
}
.p115{
    font-size: x-large;
}

@media screen and (max-width: 850px) {
    Typography {
      display: flex;
    }
  }

@media screen and(max-widh:550px) {
    Typography {
        display: flex;
      }  
}